In [16]:
def calsi():
    a = int(input())
    b = int(input())
    print("Add  → addition")
    print("Sub  → subtraction")
    print("Div  → division")
    print("Multi → multiplication")
    op = input()
    op = op.upper()
    print("\n")
    if op == "ADD":
        print('Addition of Input NO :',a + b)
    elif op == "SUB":
        print('Subtraction of Input NO :',a - b)
    elif op == "MULTI":
        print('Multiplication of Input NO :',a * b)
    elif op == "DIV":
        print('Division of Input NO :',a / b)
    else:
        print("Invalid operator")

calsi()

Add  → addition
Sub  → subtraction
Div  → division
Multi → multiplication


Division of Input NO : 0.75

In [17]:
def name():
    print('my name is sakshi')

name()

my name is sakshi

In [2]:
def multiplication(a,b,c):
    print(a*b*c)

In [4]:
x = 4
y = 5
z =99

multiplication(x,y,z)

1980

In [9]:
def details(name, age, roll_no):
    inp  = int(input('enter no 1 for name, 2 for age, 3 for roll-no'))

    if inp == 1:
        return name
    
    elif inp == 2:
        return age
    elif inp == 3:
        return roll_no
    
    else :
        return print('input is incorrect')
    print('this will never print')

In [10]:
details('alisha', 21, 23)

input is incorrect

# **Lamda Functions** #

In [11]:
# function name = lamda keyword   argument : operation

In [12]:
sum = lambda a,b,c : a+b+c

In [13]:
sum(3,5,2)

10

In [14]:
double = lambda a: a*2

In [15]:
a = int(input('enter a value you want to double'))
double(a)

176

In [16]:
number = lambda a : a%2 == 0

In [17]:
number(44)

True

In [18]:
number(543)

False

In [19]:
power = lambda : int(input('enter a no. you want to double'))**2

In [20]:
power()

1936

In [23]:
def admin():
    print('you are admin now')

    def member():
        print('you are member now')

In [24]:
admin()

you are admin now

In [30]:
def admin():
    print('you are admin now')

    def member():
        print('you are member now')
    member()
    print('you called a fun inside a fun')

In [31]:
admin()

you are admin now
you are member now
you called a fun inside a fun

In [ ]:
def table_printing_mechine(b):
    a = 10
    i = 1
    # b = int(input('enter a no.'))
    
    while i<=a:
        print( f'{b} * {i} = {b*i}')
                # 3  *  1  =   3
        i = i+1

In [42]:
table_printing_menchine(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [45]:
def add():
     a = int(input('enter first no.'))
     b = int(input('enter second no.'))

     return print('sum of given no. :',a+b)

In [46]:
add()

sum of given no. : 7

In [47]:
def sub(a,b):
    print('subtraction of given no. :', a - b)

In [49]:
sub(66,3)

subtraction of given no. : 63

In [52]:
def div():
    a  = int(input('enter a no.'))
    b  = int(input('enter second no.'))

    return a/b

In [53]:
div()

33.0

In [56]:
from add import add

In [57]:
add()

sum of given no. : 10

In [1]:
# question 
# For a given list that contains numbers from 1 to 20.
# Use for loop, create a new list that contains the square of each element from the given list

In [2]:
no = []

In [3]:
for i in range(1,21):
    no.append(i)

In [4]:
print(no)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
list = []
for i in range(1,20):
    i = i**2
    list.append(i)

print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [11]:
print(no)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
print(no[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
print(no[::-1])

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
# convert into rev order
given_list = [1,2,3,4,5,6, 'A', 'B', 'C', 'D', 'E', 'F']

In [25]:
for i in given_list[::-1]:
    print(i)

F
E
D
C
B
A
6
5
4
3
2
1

In [30]:
li = [3,6,84,7,2,88,2,34,2,90,1,31,12]

In [31]:
sorted(li)

[1, 2, 2, 2, 3, 6, 7, 12, 31, 34, 84, 88, 90]

In [32]:
# li.sort()

In [33]:
print(li)

[3, 6, 84, 7, 2, 88, 2, 34, 2, 90, 1, 31, 12]

In [34]:
li.sort(reverse=True)
print(li)

[90, 88, 84, 34, 31, 12, 7, 6, 3, 2, 2, 2, 1]