In [6]:
# Print numbers from 1 to N using a loop.
N = int(input('enter a valid no.'))
print(f'Your No. Is :{N}')
a = 1
while N>=a:
    print(a)
    a = a+1

Your No. Is :33
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [ ]:
# Print all even numbers from 1 to N using a loop.

N = int(input('enter a valid no.'))
a = 2
while N>=a:
    print(a)
    a = a+2

2
4
6
8
10
12
14
16
18
20

In [1]:
# Print the sum of first N natural numbers using a loop.
sum  = 0
N = int(input('enter a valid no.'))
for i in range(1, N+1):
    sum = sum + i



print(sum)

3003

In [ ]:
# Count how many digits are in a given number using a loop.

Input= int(input('enter a valid no for count the integers'))
if Input == 0:
    print(1)
else:
    N = 0
    while Input!=0:
        Input = Input//10
        N = N + 1
        # print(Input)

    print(N)

2

In [43]:
# Reverse a given number using a loop.
# Output: 54321
Input= 12345
rev = 0
l  = []
while Input!=0:

    last = Input%10
    rev = rev * 10 + last
    l.append(last)
    Input = Input//10

print(l)
print(rev)

[5, 4, 3, 2, 1]
54321

# ***Dict***

In [46]:
d = {
    'a' : '3',
    'b' : 'apple',
    'z' : True
}

In [52]:
d['b']

'apple'

In [54]:
d['c'] = 'banana'

In [55]:
d

{'a': '3', 'b': 'apple', 'z': True, 'c': 'banana'}

In [56]:
d['c'] = 'graps'

In [57]:
d

{'a': '3', 'b': 'apple', 'z': True, 'c': 'graps'}

In [ ]:
d.get(a)          # 1

In [51]:
d.get("x", 0)       # default value

0

In [ ]:
d.get("a")          # 1
d.get("z")          # None
d.get("z", 0)       # default value