# Variables

In [10]:
car = "Hyundai"
year = 2025
safety = "4 Stars"
print(car, year, safety)

Hyundai 2025 4 Stars

In [11]:
# We can create multiple variables in one line
a,b,c = 10,20,30     #We are creating 3 variables

print("Value of a",a)
print("Value of b",b)
print("Value of c",c)

Value of a 10
Value of b 20
Value of c 30

In [12]:
name, age = 'Kabir',24
print(name)
print(age)

Kabir
24

# USER INPUT

In [13]:
a = input("Enter the value of a")    #I always take string as the input
b = input("Enter the value of b")
print(type(a))

<class 'str'>

In [14]:
a = int(input("Enter the value of a"))    #I always take string as the input
b = int(input("Enter the value of b"))
print(a+b)

5

# Operators are the symbols via which we are able to perform some operations

In [15]:
x = 50
# With the help of = symbol I am able to assign a value to x variable as 50.
# = is nothing but your operator

## Arithmetic Operators

In [16]:
num1 = 10
num2 = 3
print("Addition: ",num1+num2)      #To add we use + operator
print("Subtraction: ",num1-num2)     # To subract we use - operator
print("Multiplication: ",num1*num2)  # To multiply we use * operator
print("Division: ",num1/num2)       # To divide to get the quotient part we use / operator
print("Remainder: ", num1%num2)    # To get the remainder we use % operator
print("Floor Division: ",num1//num2)    #To get the floor division(The quotient before decimal) we use // operator
print("Exponential: ", num1**num2)       # ** used to get the exponential

Addition:  13
Subtraction:  7
Multiplication:  30
Division:  3.3333333333333335
Remainder:  1
Floor Division:  3
Exponential:  1000

# Comparision Operators

In [17]:
a = 50
b = 30
print(a>b)     # Whether a is greater than b   >             TRUE
print(a<b)     # Whether a is smaller than b   <             FALSE
print(a==b)    # To check a is equal to b  ==                FALSE
print(a!=b)    # To check a is not equal to b      !=        TRUE
print(a>=b)    # To check wheter a is greater than or equal to b     >=
print(a<=b)    # To check whether a is less than or equal to b      <=

True
False
False
True
True
False

# Assignment Operators

In [18]:
x = 10
x += 10     # x = x+10                -> 20
x -= 5      # x = x-5                 -> 15
x *=3       # x = x*3                 -> 45
print(x)

45

In [19]:
a = 20
a = a+15      # in this variable a I am storing 20+15
print(a)

35

In [20]:
a+=5    #a = a+5
print(a)

40

# Logical Operator

In [21]:
# And Operator and OR OPERATOR

# Data Types

In [22]:
# Data -> Some values that I am storing in my program
# Integers
# Strings
# Float
# Boolean
# Complex Numbers

In [23]:
a = 50     #
print(type(a))

<class 'int'>

In [24]:
b = -93.2
print(type(b))

<class 'float'>

In [25]:
c = 24.0     #There's a decimal so it will be considered as a float value
print(type(c))

<class 'float'>

In [26]:
text = "We are learning data types"
print(type(text))

<class 'str'>

In [27]:
var = "15"    #Anything inside the quotes '' or "" will be considered as a string
print(type(var))

<class 'str'>

In [28]:
a = True
print(type(a))

<class 'bool'>

In [29]:
b = 5>30          #boolean
print(b)
print(type(b))

False
<class 'bool'>

In [30]:
# Complex numbers allows me to write data in this format real number+imagionory number
x = 20+9J                 # j and J is the reserved keyword to create complex numbers.
j = 15-8j
print(x)
print(type(x))

(20+9j)
<class 'complex'>

# Conditional Statements

In [31]:
a = 20
b = 1
if a>b:
  print("A is greater than B")

else:
  print("B is greater than A")

A is greater than B